---
import Layout from "../layouts/Layout.astro";
import Feed from "../components/Feed.astro";

import { Counter } from "../components/Counter";
import { Footer } from "../components/Footer";
import Greet from "../components/Greet.astro";
const response = await fetch("http://localhost:3000/api/posts");

const data = await response.json();
---

<Layout title="Welcome to Astro.">
  <main>
    <ul role="list" class="link-card-grid">
      <Counter />
      <Counter client:load />
      <Counter client:idle />
      <Greet />
    </ul>
    <div>
      <Feed data={data} />
    </div>
    <Footer client:visible />
  </main>
</Layout>
