---
import Layout from "../layouts/Layout.astro";
import { Counter } from "../components/Counter";
import Greet from "../components/Greet.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <ul role="list" class="link-card-grid">
      <Counter />
      <Counter client:load />
      <Counter client:idle />
      <Greet />
    </ul>
  </main>
</Layout>
