---
import Card from "./Card.astro";
import { Carousel } from "./Carousel";

const { data } = Astro.props;
---

<div class="container">
  {
    data.map((post) => (
      <Card title={post.text} href={`/posts/${post.id}`} id={post.id} />
    ))
  }
  <Carousel client:visible />
</div>

<style>
  .container {
    min-height: 2000px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    height: 100%;
    width: 100%;
  }
</style>
