<div class="container">
  <div title="">
    <button id="button">Greet</button>
    <p data-greet="greet"></p>
  </div>
  <script>
    function greet() {
      return fetch("https://randomuser.me/api/")
        .then((r) => r.json())
        .then((data) => {
          const node = document.querySelector(`[data-greet="greet"]`);
          node.innerHTML = `Hi ${data.results[0]?.name?.first}!`;
        });
    }
    document.getElementById("button").addEventListener("click", greet);
  </script>
</div>
